<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SponsorSpotlight</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script src="https://cdn.plot.ly/plotly-3.0.1.min.js"></script>
</head>

<body class="bg-light">

    <div class="container py-5">
        <h1 class="text-center mb-4">SponsorSpotlight</h1>

        <!-- Input form -->
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card shadow">
                    <div class="card-body">
                        <form id="uploadForm" action="/" method="post" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label class="form-label">Choose file:</label>
                                <input type="file" class="form-control" name="file" accept="video/*,image/*">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">M3U8 Playlist URL:</label>
                                <input type="text" id="videoUrl" name="videoUrl" class="form-control">
                            </div>
                            <button id="submitButton" type="submit" class="btn btn-primary w-100">Submit</button>
                        </form>
                        <p id="errorMsg" class="text-danger text-center mt-3"></p>
                    </div>
                </div>
            </div>
        </div>

        <div id="loadingCircle"></div>

        <!-- Video & Image Display -->
        <div class="row justify-content-center mt-4">
            <div class="col-md-8 col-lg-6">
                <video id="videoPlayer" controls class="w-100 rounded shadow" style="display: none;"></video>
                <img id="imageView" class="w-100 rounded shadow mt-3"
                    style="display: none; max-height: 500px; object-fit: contain;">
            </div>
        </div>

        <!-- Dropdown-menu -->
        <div class="row mt-3">
            <div class="col">
                <select id="categoryDropdown" class="form-control" style="display: none;" multiple></select>
            </div>
        </div>
        <div id="infoTextDropdown" class="row mt-2" style="display: none;">
            <p>Hold down the Ctrl (windows) /
                Command (Mac) button to select multiple options.
            </p>
        </div>
        <div class="row mt-2">
            <div class="col-auto">
                <button id="filterButton" class="btn btn-primary" style="display: none;">Filter</button>
            </div>
            <div class="col-auto">
                <button id="resetButton" class="btn btn-secondary" style="display: none;">Reset filters</button>
            </div>
        </div>

        <!-- Charts Section -->
        <div class="row justify-content-center mt-5" id="chartsContainer">
            <div class="col-md-12 col-lg-0">
                <div class="card shadow">
                    <div class="card-body">
                        <h2 class="text-center">Logo Detections</h2>
                        <div id="detectionChart"></div>

                        <h2 id="timeChartHeader" class="text-center mt-4">Logo Time</h2>
                        <div id="timeChart"></div>

                        <button type="button" id="exportExcel" class="btn btn-primary mt-2" style="display: none;">Export to
                            Excel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/script.js"></script>
</body>

</html>